@config "../tailwind.config.js";
@import "tailwindcss";
@source "../app/**/*.{js,ts,jsx,tsx}";
@source "../components/**/*.{js,ts,jsx,tsx}";
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

:root {
  --color-emerald-900: #05472A;
  --color-emerald-950: #032817;
}

@theme inline {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}

* {
  @apply scroll-smooth;
}

body {
  @apply bg-white text-gray-900;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold tracking-tight;
}

@media (prefers-reduced-motion: reduce) {
  * {
    @apply !scroll-auto;
  }
}
